<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="gallery(images)">
        <div x-data="{ curImg: 0 }" class="row">
            <div th:if="${#arrays.isEmpty(images)}" class="col wrap mr">
                <button class="img-s mb">
                    <img th:src="@{/img/icons/image-icon.png}" alt="no image" class="img">
                </button>
            </div>

            <div th:unless="${#arrays.isEmpty(images)}" class="col wrap mr">
                <button th:each="image, it : ${images}" th:@click="|curImg = ${it.index}|" class="img-s mb">
                    <img th:src="${image.getUrl()}" th:alt="${image.getPublicId()}" class="img">
                </button>
            </div>

            <div class="relative img-l">
                <div th:if="${#arrays.isEmpty(images)}">
                    <img th:src="@{/img/icons/image-icon.png}" class="absolute img">
                </div>

                <div th:unless="${#arrays.isEmpty(images)}">
                    <img th:each="image, it: ${images}" th:x-show="|curImg === ${it.index}|" th:src="${image.getUrl()}"
                        th:alt="${image.getPublicId()}" class="absolute img">
                </div>
            </div>
        </div>
    </div>
</body>

</html>