* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --text: #000;

    --white: #fff;
    --grey: #ccc;

    --primary-light: #e6f2e1;
    --primary: #c3d9b8;
    --primary-dark: #627d53;
    --primary-dark-hover: #455d39;

    --secondary: #d7a4f3;
    --secondary-dark: #85569e;

    --trans: 0.1s;
}

html {
    font-family: "Delius", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--text);
}

body {
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

p {
    font-size: 1rem;
}

li {
    list-style-type: none;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-dark);
    transition: all var(--trans) ease;
}

a:hover {
    color: var(--primary-dark-hover);
}

button {
    font-weight: bold;
    border: none;
    transition: all var(--trans) ease;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 0.2rem;
}

img {
    max-width: 90vw;
}

/* display */

.hide {
    display: none;
}

/* layout */

.sticky {
    position: sticky;
    top: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.fill {
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.justify-around {
    display: flex;
    justify-content: space-around;
}

.align-center {
    display: flex;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

/* spacing */

.m {
    margin: 1rem;
}

.mx {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mr {
    margin-right: 1rem;
}

.ml {
    margin-left: 1rem;
}

.m-s {
    margin: 0.5rem;
}

.mx-s {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.my-s {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mt-s {
    margin-top: 0.5rem;
}

.mb-s {
    margin-bottom: 0.5rem;
}

.ml-s {
    margin-left: 0.5rem;
}

.mr-s {
    margin-right: 0.5rem;
}

.m-l {
    margin: 2rem;
}

.p {
    padding: 1rem;
}

.px {
    padding-right: 1rem;
    padding-left: 1rem;
}

.py {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p-s {
    padding: 0.5rem;
}

.px-s {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-s {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pt-s {
    padding-top: 0.5rem;
}

.pb-s {
    padding-bottom: 0.5rem;
}

.pl-s {
    padding-left: 0.5rem;
}

.pr-s {
    padding-right: 0.5rem;
}

.p-l {
    padding: 2rem;
}

.px-l {
    padding-right: 2rem;
    padding-left: 2rem;
}

.py-l {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* buttons */

.btn {
    padding: 0.5rem 2rem;
    color: var(--primary-dark);
    background-color: var(--primary);
}

.btn:hover {
    color: var(--primary);
    background-color: var(--primary-dark);
}

.btn-secondary {
    padding: 0.5rem 2rem;
    color: var(--secondary-dark);
    background-color: var(--secondary);
}

.btn-secondary:hover {
    color: var(--secondary);
    background-color: var(--secondary-dark);
}

.btn-tool {
    width: 2rem;
    height: 100%;
    padding: 0.2rem;
    background-color: var(--primary-dark);
}

.btn-tool:hover {
    background-color: var(--primary-dark-hover);
}

.btn-tool img {
    width: 100%;
}

/* colors */

.text-warn {
    color: red;
}

.text-success {
    color: green;
}

.bg-warn {
    background-color: red;
    color: var(--white);
}

.bg-success {
    background-color: green;
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}

.bg-primary {
    background-color: var(--primary);
    color: var(--primary-dark);
}

.bg-secondary {
    background-color: var(--secondary);
    color: var(--secondary-dark);
}

.border {
    border: 1px solid var(--grey);
}

.border-top {
    border-top: 1px solid var(--grey);
}

.border-bottom {
    border-bottom: 1px solid var(--grey);
}

.border-left {
    border-left: 1px solid var(--grey);
}

.border-right {
    border-right: 1px solid var(--grey);
}

.shadow {
    box-shadow: 0 0 5px #ccc;
}

/* sizing */

.logo {
    width: 8rem;
}

/* mobile */

@media (max-width: 600px) {

    .mob-hide {
        display: none;
    }

    .mob-col {
        display: flex;
        flex-direction: column;
    }

    .mob-row {
        display: flex;
        flex-direction: row;
    }

    .mob-m-0 {
        margin: 0;
    }
    
}

/* unique */

#hero {
    flex: 1;
    background-image: url(https://res.cloudinary.com/dybexsys6/image/upload/v1767407703/purple-peach_r6nqay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);
}

