* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --text: #222;

    --white: #fff;
    --grey: #bbb;

    --primary: #789;
    --primary-dark: #234;

    --secondary: #3ecaa4;

    --trans: 0.1s;
}

html {
    font-family: "Delius", Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--primary);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text);
}

header {
    position: sticky;
    top: 0;
    padding-bottom: 1rem;
    background-color: var(--primary);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 1rem 2rem;
    background-color: var(--white);
}

footer {
    padding: 2rem;
    color: var(--white);
    background-color: var(--primary);
}

section {
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

h6 {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
}

li {
    list-style-type: none;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-dark);
    opacity: 1;
    transition: all var(--trans) ease;
}

a:hover {
    opacity: 0.6;
}

form {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--grey);
}

label {
    margin-bottom: 0.5rem;
}

input {
    border: 1px solid var(--grey);
    padding: 0.2rem;
}

button {
    font-weight: bold;
    padding: 0.5rem 2rem;
    background-color: var(--secondary);
    border: none;
    transition: all var(--trans) ease;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

img {
    max-width: 90vw;
}

.hide {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    display: flex;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.warning {
    margin-bottom: 1rem;
    color: red;
}

.create-btn {
    background-color: green;
    color: var(--white);
}

.update-btn {
    background-color: var(--primary-dark);
    color: var(--white);
}

.delete-btn {
    background-color: red;
    color: var(--white);
}

.form-as-button {
    margin: 0;
    padding: 0;
    border: none;
}

.m {
    margin: 1rem;
}

.mx {
    margin: 0 1rem;
}

.my {
    margin: 1rem 0;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mr {
    margin-right: 1rem;
}

.mb-sm {
    margin-bottom: 0.5rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    margin-bottom: 0.5rem;
}

.product-admin {
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.product-admin input {
    width: 10rem;
}

.product-admin img {
    width: 6rem;
    height: 6rem;
}

.product-admin-tools button {
    flex: 1;
    padding: 0.2rem 1rem;
}

.product-admin-tools img {
    width: 2rem;
    height: 2rem;
}

#logo-nav {
    width: 8rem;
}