* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --text: #000;

    --white: #fff;
    --grey: #ccc;

    --primary-light: #e6f2e1;
    --primary: #c3d9b8;
    --primary-dark: #6e8d5d;
    --primary-dark-hover: #44553b;

    --secondary: #d7a4f3;
    --secondary-dark: #85569e;

    --trans: 0.1s;
}

html {
    font-family: "Delius", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--text);
}

body {
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

p {
    width: min(100%, 50rem);
    font-size: 1rem;
}

li {
    list-style-type: none;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-dark);
    transition: all var(--trans) ease;
}

a:hover {
    color: var(--primary-dark-hover);
}

button {
    font-weight: bold;
    border: none;
    transition: all var(--trans) ease;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 0.5rem;
    border: 1px solid var(--grey);
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* display */

.hide {
    display: none;
}

.bullets li {
    list-style-type: disc;
}

/* layout */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    right: 0;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
    text-align: start;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.justify-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.justify-around {
    display: flex;
    justify-content: space-around;
}

.align-start {
    display: flex;
    align-items: flex-start;
    text-align: start;
}

.align-end {
    display: flex;
    align-items: flex-end;
    text-align: end;
}

.align-center {
    display: flex;
    align-items: center;
    text-align: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

/* sizing */

.fit {
    width: fit-content;
}

.fill {
    width: 100%;
    height: 100%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.text-jumbo {
    font-size: 4rem;
}

.logo {
    width: 8rem;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-s {
    width: 4rem;
    height: 4rem;
}

.img-m {
    width: 16rem;
    height: 16rem;
}

.img-l {
    width: 70vh;
    height: 70vh;
}

/* shape */

.corners {
    border-radius: 10px;
}

.circle {
    border-radius: 100%;
}

/* spacing */

.m {
    margin: 1rem;
}

.mx {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mr {
    margin-right: 1rem;
}

.ml {
    margin-left: 1rem;
}

.m-s {
    margin: 0.5rem;
}

.mx-s {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.my-s {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mt-s {
    margin-top: 0.5rem;
}

.mb-s {
    margin-bottom: 0.5rem;
}

.ml-s {
    margin-left: 0.5rem;
}

.mr-s {
    margin-right: 0.5rem;
}

.m-l {
    margin: 2rem;
}

.mx-l {
    margin-left: 2rem;
    margin-right: 2rem;
}

.my-l {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mt-l {
    margin-top: 2rem;
}

.mb-l {
    margin-bottom: 2rem;
}

.ml-l {
    margin-left: 2rem;
}

.mr-l {
    margin-right: 2rem;
}

.p {
    padding: 1rem;
}

.px {
    padding-right: 1rem;
    padding-left: 1rem;
}

.py {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pt {
    padding-top: 1rem;
}

.pb {
    padding-bottom: 1rem;
}

.pl {
    padding-left: 1rem;
}

.pr {
    padding-right: 1rem;
}

.p-s {
    padding: 0.5rem;
}

.px-s {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-s {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pt-s {
    padding-top: 0.5rem;
}

.pb-s {
    padding-bottom: 0.5rem;
}

.pl-s {
    padding-left: 0.5rem;
}

.pr-s {
    padding-right: 0.5rem;
}

.p-l {
    padding: 2rem;
}

.px-l {
    padding-right: 2rem;
    padding-left: 2rem;
}

.py-l {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pt-l {
    padding-top: 2rem;
}

.pb-l {
    padding-bottom: 2rem;
}

.pl-l {
    padding-bottom: 2rem;
}

.pl-r {
    padding-bottom: 2rem;
}

/* buttons */

.btn {
    padding: 0.5rem 2rem;
    color: var(--white);
    background-color: var(--grey);
}

.btn:hover {
    color: var(--grey);
    background-color: var(--white);
}

.btn-primary {
    color: var(--primary-dark);
    background-color: var(--primary);
}

.btn-primary:hover {
    color: var(--primary);
    background-color: var(--primary-dark);
}

.btn-primary-dark {
    color: var(--primary);
    background-color: var(--primary-dark);
}

.btn-primary-dark:hover {
    color: var(--primary);
    background-color: var(--primary-dark-hover);
}

.btn-secondary {
    color: var(--secondary-dark);
    background-color: var(--secondary);
}

.btn-secondary:hover {
    color: var(--secondary);
    background-color: var(--secondary-dark);
}

.btn-transparent {
    color: var(--white);
    background-color: rgba(200, 200, 200, 0.7);
    opacity: 0;
}

.btn-transparent:hover {
    opacity: 1;
}

.btn-tool {
    width: 2rem;
    height: 100%;
    padding: 0.2rem;
    color: var(--white);
    background-color: var(--primary-dark);
}

.btn-tool:hover {
    background-color: var(--primary-dark-hover);
}

.btn-tool-move-up {
    background-color: blue;
}

.btn-tool-move-up:hover {
    background-color: darkblue;
}

.btn-tool-delete {
    background-color: red;
}

.btn-tool-delete:hover {
    background-color: darkred;
}

.btn-tool img {
    width: 100%;
}

/* colors */

.text-warn {
    color: red;
}

.text-success {
    color: green;
}

.bg-warn {
    background-color: red;
    color: var(--white);
}

.bg-success {
    background-color: green;
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}

.bg-primary {
    background-color: var(--primary);
    color: var(--primary-dark);
}

.bg-primary-dark {
    background-color: var(--primary-dark);
    color: var(--white);
}

.bg-secondary {
    background-color: var(--secondary);
    color: var(--secondary-dark);
}

.border {
    border: 1px solid var(--grey);
}

.border-top {
    border-top: 1px solid var(--grey);
}

.border-bottom {
    border-bottom: 1px solid var(--grey);
}

.border-left {
    border-left: 1px solid var(--grey);
}

.border-right {
    border-right: 1px solid var(--grey);
}

.border-primary {
    border: 1px solid var(--primary);
}

.shadow {
    box-shadow: 0 0 5px #ccc;
}

/* animations */

.hover-grow {
    transition: all 0.2s ease;
}

.hover-grow:hover {
    transform: scale(1.1, 1.1); 
}

/* mobile */

@media (max-width: 800px) {

    .mob-hide {
        display: none;
    }

    .mob-col {
        display: flex;
        flex-direction: column;
    }

    .mob-row {
        display: flex;
        flex-direction: row;
    }

    .img-m {
        width: 80vw;
        height: 80vw;
    }

    .img-l {
        width: calc(min(60vw, 60vh));
        height: calc(min(60vw, 60vh));
    }

    .mob-m-0 {
        margin: 0;
    }

    .mob-mb {
        margin-bottom: 1rem;
    }
    
}

/* unique */

#hero {
    flex: 1;
    /* background-image: url('/img/hero.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--white);
}

