<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <main layout:fragment="content">
        <section class="col align-center p-l">
            <h2 class="mb">Who is Lemon Custard Creations?</h2>
            <p class="mb">Hi, I'm Kari — owner, creator, quilter, and not-so-great photographer behind <b>Lemon Custard Creations</b>.</p>
            <p class="mb">If you have an idea or are dreaming up something special, I'd love to help bring it to life. Reach out anytime at <a href="mailto:lemoncustardco@gmail.com">lemoncustardco@gmail.com.</a></p>
            <p class="mb">Why the name <b>Lemon Custard Creations?</b> EVERYONE asks me that. The short answer: why not? The long answer: who doesn't love lemon custard? It's tart (like me), and bright and cheery (like my quilts). Yellow is a happy, vibrant, fun color, and who doesn't want to feel that way every day?</p>
            <p class="mb">Plus, if you quilt, you know the lingo: jelly rolls, layer cakes, charm packs, fat quarters, dessert rolls, fat eighths, honey buns, and quilter's candy. We sound like sugar addicts. What we really are is addicted to fabric — and to creating.</p>
            <p class="mb">HUGE kudos to my adorable daughter for designing the luscious lemon logo, as well as to my son for creating this amazing webpage for me! I truly have the best children.</p>
            <p class="mb">I'm located in Henderson, Nevada.</p>
        </section>
    </main>
</body>

</html>