<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <main layout:fragment="content">
        <section class="col align-center p">
            <h2 class="mb">Who is Lemon Custard Creations?</h2>
            <p class="mb">Hi, I'm Kari and I make quilts and stuff. My quilts are the most quilts in all the quilts. Get your quilts today.</p>
            <p class="mb">Have you ever wondered what a quilt? Well, back in the day, quilts were quilted with quilting. Nowadays, with modern technology, we quilt our quilts with the finest quiltings in all the quilts of quilts.</p>
            <p class="mb">If you're wondering why these text blurbs don't make any sense, it's because I trusted my son to make this site.</p>
        </section>
    </main>
</body>

</html>