<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script th:src="@{/js/headers.js}"></script>
    <script th:src="@{/js/category.js}"></script>
    <script th:src="@{/js/products.js}"></script>
</head>

<body>
    <main layout:fragment="content" x-data="{
        showCategories: true,
        showProducts: false, 
    }">

        <section class="row justify-between bg-secondary">
            <ul class="row">
                <li>
                    <button @click="showCategories = true; showProducts = false" class="btn btn-secondary">
                        Categories
                    </button>
                </li>
                <li>
                    <button @click="showProducts = true; showCategories = false" class="btn btn-secondary">
                        Products
                    </button>
                </li>
            </ul>
            <ul class="row">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-secondary">Logout</button>
                    </form>
                </li>
            </ul>
        </section>

        <section x-show="showCategories" class="p">
            <h2 class="mb">Categories</h2>
            <ul class="col border-bottom border-left border-right">
                <template x-for="category in $store.categoryStore.categories" :key="category.id || '0'">
                    <li class="row border-top">

                        <!-- tool buttons -->
                        <div class="col">
                            <template x-if="category.id === null">
                                <button @click="$store.categoryStore.createCategory(category)" class="btn-tool">
                                    <img th:src="@{/img/icons/create-icon.png}" alt="create button">
                                </button>
                            </template>

                            <template x-if="category.id !== null">
                                <button @click="$store.categoryStore.moveUp(category)"
                                    class="btn-tool btn-tool-move-up border-bottom">
                                    <img th:src="@{/img/icons/move-up-icon.png}" alt="move up button">
                                </button>
                            </template>

                            <template x-if="category.id !== null">
                                <button @click="$store.categoryStore.updateCategory(category)"
                                    class="btn-tool border-bottom">
                                    <img th:src="@{/img/icons/update-icon.png}" alt="update button">
                                </button>
                            </template>

                            <template x-if="category.id !== null">
                                <button @click="$store.categoryStore.deleteCategory(category.id)"
                                    class="btn-tool btn-tool-delete">
                                    <img th:src="@{/img/icons/delete-icon.png}" alt="delete button">
                                </button>
                            </template>
                        </div>

                        <!-- basic info -->
                        <div class="col py-s pl-s">
                            <div class="row mb-s">
                                <label for="name" class="mr-s">Name</label>
                                <input id="name" name="name" type="text" x-model="category.name"></input>
                            </div>
                        </div>

                        <!-- large info -->
                        <div class="col py-s pl-s">
                            <label for="description" class="mb-s">Description</label>
                            <textarea x-model="category.description" id="description" name="description" rows="4"></textarea>
                        </div>

                        <!-- large info -->
                        <div class="col py-s pl-s">
                            <label for="details" class="mb-s">Details</label>
                            <textarea x-model="category.details" id="details" name="details" rows="4"></textarea>
                        </div>

                        <!-- image upload -->
                        <div class="col py-s pl-s">
                            <template x-if="category.id !== null">
                                <input id="image" name="image" type="file" accept="image/*"
                                    @change="$store.categoryStore.uploadImage($event.target.files[0], category.id)">
                            </template>

                            <div class="row mt-s">
                                <template x-for="image in category.images">
                                    <div class="relative img-s mr-s">
                                        <img :src="image.url" alt="test" class="img">
                                        <button @click="$store.categoryStore.deleteImage(image.id)"
                                            class="absolute w-100 h-100 btn-transparent">
                                            <i class="fa-regular fa-circle-xmark fa-2x"></i>
                                        </button>
                                    </div>
                                </template>
                            </div>
                        </div>

                    </li>
                </template>
            </ul>
        </section>

        <section x-show="showProducts" class="p">
            <h2 class="mb">Products</h2>
            <ul x-data="productStore" class="col border-bottom border-left border-right">
                <template x-for="product in products" :key="product.id || '0'">
                    <li class="row border-top">

                        <!-- tool buttons -->
                        <div class="col">
                            <template x-if="product.id === null">
                                <button @click="createProduct(product)" class="btn-tool">
                                    <img th:src="@{/img/icons/create-icon.png}" alt="create button">
                                </button>
                            </template>

                            <template x-if="product.id !== null">
                                <button @click="moveUp(product)" class="btn-tool btn-tool-move-up border-bottom">
                                    <img th:src="@{/img/icons/move-up-icon.png}" alt="move up button">
                                </button>
                            </template>

                            <template x-if="product.id !== null">
                                <button @click="updateProduct(product)" class="btn-tool border-bottom">
                                    <img th:src="@{/img/icons/update-icon.png}" alt="update button">
                                </button>
                            </template>

                            <template x-if="product.id !== null">
                                <button @click="deleteProduct(product.id)" class="btn-tool btn-tool-delete">
                                    <img th:src="@{/img/icons/delete-icon.png}" alt="delete button">
                                </button>
                            </template>
                        </div>

                        <!-- basic info -->
                        <div class="col py-s pl-s">
                            <div class="row mb-s">
                                <label for="name" class="mr-s">Name</label>
                                <input id="name" name="name" type="text" x-model="product.name"></input>
                            </div>

                            <div class="row mb-s">
                                <label for="price" class="mr-s">Price</label>
                                <input id="price" name="price" type="text" x-model="product.price"></input>
                            </div>

                            <div class="row">
                                <label for="category" class="mr-s">Category</label>
                                <select x-model="product.categoryId">
                                    <template x-for="category in $store.categoryStore.categories">
                                        <option x-data="{ selected: false }" :value="category.id" :selected="selected"
                                            x-effect="selected = category.id === product.categoryId"
                                            x-text="category.name"></option>
                                    </template>
                                </select>
                            </div>
                        </div>

                        <!-- large info -->
                        <div class="col py-s pl-s">
                            <label for="description" class="mb-s">Description</label>
                            <textarea x-model="product.description" id="description" name="description" rows="4"></textarea>
                        </div>

                        <!-- image upload -->
                        <div class="col py-s pl-s">
                            <template x-if="product.id !== null">
                                <input id="image" name="image" type="file" accept="image/*"
                                    @change="uploadImage($event.target.files[0], product.id)">
                            </template>

                            <div class="row mt-s">
                                <template x-for="image in product.images">
                                    <div class="relative img-s mr-s">
                                        <img :src="image.url" alt="test" class="img">
                                        <button @click="$store.categoryStore.deleteImage(image.id)"
                                            class="absolute w-100 h-100 btn-transparent">
                                            <i class="fa-regular fa-circle-xmark fa-2x"></i>
                                        </button>
                                    </div>
                                </template>
                            </div>
                        </div>

                    </li>
                </template>
            </ul>
        </section>

    </main>
</body>

</html>