<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Care Instructions</title>
</head>

<body>
    <main layout:fragment="content">
        <section class="col align-center p-l">
            <h2 class="mb">Important Stuff</h2>

            <h3 class="mb">Materials:</h3>
            <ul class="col justify-start bullets mb">
                <li>Top: 100% cotton fabric</li>
                <li>Batting: soft cotton or cotton-blend batting for warmth without heaviness</li>
                <li>Backing: coordinating 100% cotton fabric or soft Minky/Cuddle</li>
            </ul>

            <h3 class="mb">Care Instructions:</h3>
            <h4 class="mb">All quilts:</h4>
            <ul class="col justify-start bullets mb">
                <li>Machine wash cold on gentle cycle</li>
                <li>Use mild detergent</li>
                <li>Tumble dry low or lay flat to dry</li>
                <li>Do not bleach</li>
            </ul>

            <h4 class="mb">Minky/Cuddle backed quilts:</h4>
            <ul class="col justify-start bullets mb">
                <li>No fabric softener</li>
                <li>Tumble dry, no heat</li>
                <li>No dryer sheets</li>
            </ul>

            <p class="mb">Because each item is handmade and/or custom-finished, all sales are final.</p>
        </section>
    </main>
</body>

</html>