<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Care Instructions</title>
</head>

<body>
    <main layout:fragment="content">
        <section class="col align-center p-l">
            <h2 class="mb">Important Stuff</h2>

            <h3 class="mb-s">Quilt Materials:</h3>
            <ul class="col justify-start mb bullets">
                <li>Top: 100% cotton fabric</li>
                <li>Batting: soft cotton or cotton-blend batting for warmth without heaviness</li>
                <li>Backing: coordinating 100% cotton fabric</li>
            </ul>

            <h3 class="mb-s">Care Instructions:</h3>
            <ul class="col justify-start bullets">
                <li>Machine wash cold on gentle cycle</li>
                <li>Use mild detergent</li>
                <li>Tumble dry low or lay flat to dry</li>
                <li>Do not bleach</li>
            </ul>
        </section>
    </main>
</body>

</html>