<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <main layout:fragment="content">
        <section th:unless="${#arrays.isEmpty(categories)}">
            <ul class="row justify-around wrap bg-primary">
                <li th:each="c : ${categories}" class="m">
                    <a th:href="@{|/categories/${c.getId()}|}" th:text="${c.getName()}"></a>
                </li>
            </ul>
        </section>

        <section th:unless="${category == null}" class="col align-center px-l pt-l">
            <h2 th:text="${category.getName()}" class="mb-s"></h2>
            <p th:text="${category.getDescription()}" class="mb-s"></p>
            <p th:text="${category.getDetails()}"></p>
        </section>

        <section th:unless="${#arrays.isEmpty(products)}">
            <ul class="row justify-center wrap p">
                <li th:each="product: ${products}" class="col align-center m p corners shadow">
                    <div class="catalog mb-s">
                        <img th:if="${#arrays.isEmpty(product.getImages())}" th:src="@{/img/icons/image-icon.png}" alt="empty image">
                        <img th:unless="${#arrays.isEmpty(product.getImages())}" th:src="${product.getImages().get(0).getUrl()}" th:alt="${product.getImages().get(0).getPublicId()}">
                    </div>
                    <h3 th:text="${product.getName()}" class="mb-s"></h3>
                    <p class="mb-s">Category: <span th:text="${product.getCategory().getName()}"></span></p>
                    <p>$<span th:text="${product.getPrice()}" class="name"></span></p>
                </li>
            </ul>
        </section>
    </main>
</body>

</html>