<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
    <main layout:fragment="content">
        <section class="col align-center p-l">
            <h2 class="mb">I Would Love To Hear From You</h2>
            <p class="mb">If you have any questions about my products or if you would like to place an order, please
                reach out!</p>

            <div class="col p">
                <a href="mailto:lemoncustardco@gmail.com"
                    class="row justify-between align-center mb p corners shadow hover-grow">
                    <h3 class="mr-l">Send Me an Email</h3>
                    <div class="row p bg-primary thumbnail circle">
                        <i class="fa-regular fa-envelope fa-2x"></i>
                    </div>
                </a>

                <a href="https://www.instagram.com/lemoncustardcreationsbykari"
                    class="row justify-between align-center mb p corners shadow hover-grow">
                    <h3 class="mr-l">Message Me on Instagram</h3>
                    <div class="row p bg-primary thumbnail circle">
                        <i class="fa-brands fa-instagram fa-2x"></i>
                    </div>
                </a>

                <a href="https://www.facebook.com/lemon.custard.creations"
                    class="row justify-between align-center mb p corners shadow hover-grow">
                    <h3 class="mr-l">Message Me on Facebook</h3>
                    <div class="row p bg-primary thumbnail circle">
                        <i class="fa-brands fa-facebook fa-2x"></i>
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>

</html>