<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <main layout:fragment="content">
        <section id="hero" class="center">
            <div class="bg-primary p-l">
                <h2>Hand Crafted Memories</h2>
            </div>
        </section>
    </main>
</body>

</html>