<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Lemon Custard Creations</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
    <script defer th:src="@{/js/alpine.js}"></script>
</head>

<body class="col">
    <header class="sticky px-l py bg-white shadow">
        <nav class="row mob-col justify-between align-center">
            <ul class="row align-center">
                <li class="mr mob-m-0">
                    <a th:href="@{/}">
                        <img src="/img/logo.png" alt="lemon custard creations logo" class="logo">
                    </a>
                </li>
                <li class="mr mob-hide">
                    <a th:href="@{/}"><h1>Lemon Custard Creations</h1></a>
                </li>
            </ul>
            <ul class="row">
                <li>
                    <a th:href="@{/categories}">Browse</a>
                </li>
                <li class="ml">
                    <a th:href="@{/about}">About</a>
                </li>
                <li class="ml">
                    <a th:href="@{/payments}">Payments</a>
                </li>
            </ul>
        </nav>
    </header>

    <main layout:fragment="content" class="col flex">content</main>

    <footer class="row p-l bg-primary">
        <h6 class="mr"><a th:href="@{/}">Lemon Custard Creations</a></h6>
        <h6 class="mr"><a th:href="@{/admin}">Admin</a></h6>
    </footer>
</body>

</html>