<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <main layout:fragment="content">
        <section class="col center fill">
            <h2 class="mb">Login</h2>
            <form th:action="@{/login}" method="post" class="col p border">
                <label for="username" class="mb-s">Username</label>
                <input id="username" name="username" type="text" required class="mb">

                <label for="password" class="mb-s">Password</label>
                <input id="password" name="password" type="password" required class="mb">

                <p th:if="${error}" th:text="${error}" class="mb text-warn">Error</p>

                <button type="submit">Login</button>
            </form>
        </section>
    </main>
</body>

</html>