<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
</head>

<body>
    <main layout:fragment="content">
        <section class="col align-center p">
            <h2 class="mb">How Can I Pay for My Creation?</h2>
            <p class="mb">At the moment, I only accept personal, local orders.</p>
            <p class="mb">Please use one of the following payments methods.</p>
        </section>

        <section class="col align-center p">
            <img th:src="@{/img/qr.png}" alt="venmo payments" width="200" class="mb">
            <a href="https://venmo.com/u/Kari-Dalton-2">Pay On Venmo</a>
        </section>
    </main>
</body>

</html>