<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
</head>

<body>
    <main layout:fragment="content">
        <section class="col align-center px-l pt-l">
            <h2 class="mb">How Can I Pay for My Creation?</h2>
            <p class="mb">At the moment, I only accept personal, local orders.</p>
            <p>Please use one of the following payments methods.</p>
        </section>

        <section class="col align-center p-l">
            <img th:src="@{/img/qr.png}" alt="venmo payments" width="200" class="mb">
            <a href="https://venmo.com/u/Kari-Dalton-2">Pay On Venmo</a>
        </section>

        <section class="col align-center p-l bg-primary-dark">
            <h2 class="mb">Generate a Quote</h2>
            <div class="col" x-data="{ height: 0.0, width: 0.0, rate: 0.03 }">
                <div class="row mob-col mb border-primary">
                    <button @click="height = 75; width = 38" class="flex btn">Twin</button>
                    <button @click="height = 75; width = 54" class="flex btn">Full</button>
                    <button @click="height = 80; width = 60" class="flex btn">Queen</button>
                    <button @click="height = 80; width = 76" class="flex btn">King</button>
                </div>
                <div class="row mob-col">
                    <div class="col justify-start">
                        <p class="mb-s">Height (in)</p>
                        <input x-model="height" type="number" class="mb">
                        <p class="mb-s">Width (in)</p>
                        <input x-model="width" type="number" class="mb">
                    </div>
                    <div class="col justify-center align-end" style="width: 20rem">
                        <p class="text-jumbo">
                            <span>$</span>
                            <span x-text="(height * width * rate).toFixed(2)"></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>