<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <main layout:fragment="content">
        <h1 class="hide">Products</h1>

        <ul class="row center wrap">
            <li th:each="product: ${products}" class="product m">

                <div class="image-group">
                    <img th:each="image: ${product.getImageUrls()}" th:src="${image}" th:alt="${product.getName()}">
                </div>

                <h3 th:text="${product.getName()}">Name</h3>
                <p>$<span th:text="${product.getPrice()}" class="name">Name</span></p>
            </li>
        </ul>
    </main>
</body>

</html>