<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Create</title>
</head>

<body>
    <main layout:fragment="content">
        <h1>Create Product</h1>

        <form th:action="@{/products}" method="post" class="col">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required>

            <label for="price">Price</label>
            <input id="price" name="price" type="number" step="0.01" required>

            <button type="submit">Create</button>
        </form>

        <a th:href="@{/admin}">Back</a>
    </main>
</body>

</html>